# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.log
*.pot
*.mo
*.db
*.sqlite3
*.env
*.venv
.venv/
venv/
ENV/
.env
.env.*

# Django
*.log
staticfiles/
media/
local_settings.py

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Node
node_modules/

# Others
*.bak
*.swp
*.swo
.idea/

# Ignore test coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
